<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="MANAGEMENT_STORE_Entities" connectionString="metadata=res://*/Database.ManageSTORE_model.csdl|res://*/Database.ManageSTORE_model.ssdl|res://*/Database.ManageSTORE_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-S3G5KIT\SQLEXPRESS;initial catalog=MANAGEMENT_STORE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>